{% extends 'base.html.twig' %}

{% block title %}UniFolio - Inscription{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}

    <section class="container d-flex justify-content-center align-items-center h-100">
        <div class="bg-banner-top"></div>
        <div class="row justify-content-center">
            <div class="card flex-row w-50">
                <article class="p-5">
                    <div class="corner-img">
                        <img src="{{ asset('images/registration.png') }}" alt="illustration d'inscription">
                    </div>

                    <div class="form-alone">
                        <div class="form-header">
                            <h2 class="form-title text-center text-uppercase">Inscription</h2>
                            <p class="form-text">
                                Une fois votre compte créé, un mail vous sera envoyé pour confirmer votre inscription.
                                Vous
                                ne
                                pourrez accéder à votre compte qu'après avoir cliqué sur le lien de confirmation.
                            </p>
                        </div>

                        {{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm) }}
                        <div class="form-input-group">
                            {{ form_row(registrationForm.username) }}
                        </div>
                        <div class="form-input-group">
                            {{ form_row(registrationForm.plainPassword) }}
                            {% if registrationForm.plainPassword.vars.errors|length > 0 %}
                                <div class="invalid-feedback">
                                    {{ registrationForm.plainPassword.vars.errors|first.message }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-input-group">
                            <label for="pwd2">
                                Saisir de nouveau le mot de passe
                            </label>
                            <input class="form-control" type="password" name="pwd2" id="pwd2" placeholder="">
                        </div>
                        <div class="form-input-group">
                            {{ form_row(registrationForm.agreeTerms) }}
                        </div>
                        <button class="btn btn-primary align-self-center" type="submit">S'inscrire</button>
                        {{ form_end(registrationForm) }}
                        <div class="form-footer">
                            <p class="text-center form-text">Vous êtes déjà inscrit ? <a href="{{ path('app_login') }}">Connexion</a></p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="bg-banner-bottom"></div>
    </section>
{% endblock %}