{% extends 'base.html.twig' %}

{% block title %}UniFolio - Dashboard{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}
    <nav aria-label="breadcrumb" style="position:absolute; top: 80px; left: 75px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home_panel') }}" class="link">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard_etudiant') }}" class="link">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Trace</li>
        </ol>
    </nav>
    <section class="container min-vh-100 section-pt">
        <article class="row">
            <div class="card col-12 p-5">
                <div class="card-header">
                <h2>Création d'une trace</h2>
                </div>
                {{ form_start(form) }}
                <div class="visually-hidden">
                    {{ form_row(form.date_creation) }}
                    {{ form_row(form.date_modification) }}
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.libelle) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.contexte) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.dateRealisation) }}
                    </div>
                </div>


                <div class="types row">
                    {% for type in typesTrace %}
                        <a href="{{ path('app_trace_new', {'id': constant('class', type)}) }}"
                           class="col-12 col-lg-2 p-3 h-100">
                            <i class="{{ constant('ICON', type) }}">ICON</i>
                            <div>
                                <strong>{{ type.display }}</strong>
                                <br>
                                <small>{{ constant('CONSTRAINT', type) }}</small>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </article>
    </section>
{% endblock %}