{% extends 'base.html.twig' %}

{% block title %}UniFolio - Dashboard{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}
    {% import 'macros/breadcrumbs.twig' as breadcrumb_macros %}
    {{ breadcrumb_macros.breadcrumbs([
        {'name': 'Accueil', 'url': '/'},
        {'name': 'Dashboard', 'url': '/etudiant/dashboard'},
        {'name': 'Bibliothèque de portfolios universitaires', 'url': '/etudiant/portfolio/univ'},
        {'name': 'Portfolio' , 'url': null}
    ]) }}

    <section class="container-custom min-vh-100 section-pt">
        <div class="row d-flex">
            <article class="col-lg-8 col-12">
                <div class="card p-0">
                    <div class="portfolio-banner" style="background-image: url({{ portfolio.banniere }})"></div>
                    <div class="card-header p-5 m-5 mt-0 mb-0">
                        <h2 class="text-center mb-5">{{ portfolio.libelle }}</h2>
                        <p>{{ portfolio.etudiant.prenom }} {{ portfolio.etudiant.nom }}</p>
                        <p class="text-muted">{{ portfolio.annee.libelleLong }}</p>


                        <p>{{ portfolio.description }}</p>
                    </div>

                    <div class="card-body p-5 m-5 mb-0 mt-0">

                        {% for page in pages.currentPageResults %}
                            <h2>{{ page.libelle }}</h2>
                            <p>{{ page.description }}</p>

                            {% if tracesPage is empty %}
                                <p>Aucune trace pour le moment</p>
                            {% else %}

                                {% for trace in tracesPage %}
                                    <div class="col-12 panel_link mt-5 mb-5">
                                        <a href="{{ path('app_trace_show', {'id': trace.id, 'portfolio': portfolio.id, 'page': page.id}) }}"
                                           class="panel_link">
                                            <twig:TracePortfolioPreview id="{{ trace.id }}"/>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        <div class="navigation text-end">
                            {% if pages.hasPreviousPage %}
                                <a href="{{ path('app_portfolio_univ_show', {'id': portfolio.id, 'page': pages.previousPage}) }}"
                                   class="m-2">Page
                                    précédente</a>
                            {% endif %}

                            <span class="m-2">{{ pages.currentPage }}</span>
                            {% if pages.nbPages > 1 %}
                                <span class="m-2">/</span>
                                <a href="{{ path('app_portfolio_univ_show', {'id': portfolio.id, 'page': pages.nbPages}) }}"
                                   class="m-2">{{ pages.nbPages }}</a>
                            {% endif %}

                            {% if pages.hasNextPage %}
                                <a href="{{ path('app_portfolio_univ_show', {'id': portfolio.id, 'page': pages.nextPage}) }}"
                                   class="m-2">Page
                                    suivante</a>
                            {% endif %}
                        </div>

                    </div>
                    <div class="card-footer p-5 m-5 mb-0 mt-0">

                        <div class="col-10 m-2">
                            <h5>Commentaires</h5>
                            {% set visibleComments = portfolio.commentaires|filter(commentaire => commentaire.visibilite == 1) %}
                            {% if visibleComments is empty %}
                                <p>Aucun commentaire pour le moment</p>
                            {% else %}
                                {% for commentaire in portfolio.commentaires %}
                                    {% if commentaire.visibilite == 1 %}
                                        <div class="card"
                                             style="margin-bottom: 10px; box-shadow: none; border: 1px solid lightgrey">
                                            <div class="card-header">
                                                <div style="display: flex; justify-content: space-between; align-items: center">
                                                    <h6 class="card-subtitle">{{ commentaire.enseignant.prenom }} {{ commentaire.enseignant.nom }}</h6>
                                                    <small>
                                                        {{ commentaire.datecreation|date('d-m-Y H:i') }}
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text">{{ commentaire.contenu }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                    </div>

                </div>
            </article>
            <aside class="col-lg-4 col-12">
                <div class="card p-5 h-100">
                    <div class="card-header">
                        <h3>Référentiel</h3>
                        <em>Cliquez sur une compétence pour afficher les apprentissages critiques</em>
                    </div>
                    <div class="apc-card mb-5">
                        {% if apcNiveaux is not null %}
                            {% for niveau in apcNiveaux %}
                                <div class="apc-accordion" id="accordionFlush{{ niveau.id }}">
                                    <div class="apc-bloc">
                                        <div class="collapsed {{ niveau.apcCompetence.couleur }} apc-element"
                                             type="button"
                                             data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ niveau.id }}"
                                             aria-expanded="false"
                                             aria-controls="flush-collapse{{ niveau.id }}">
                                            <p class="m-0">{{ niveau.apcCompetence.nomCourt }}
                                                <br>
                                                <em>{{ niveau.libelle }}</em></p>
                                        </div>
                                        <div id="flush-collapse{{ niveau.id }}" class="accordion-collapse collapse"
                                             data-bs-parent="#accordionFlush{{ niveau.id }}">
                                            <div class="{{ niveau.apcCompetence.couleur }}bg apc-element">
                                                <ul>
                                                    {% for ac in niveau.apcApprentissageCritiques %}
                                                        <li>{{ ac.code }} | {{ ac.libelle }}</li>
                                                        <hr>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for niveauId, data in groupedApprentissageCritiques %}
                                <div class="apc-accordion" id="accordionFlush{{ niveauId }}">
                                    <div class="apc-bloc">
                                        <div class="collapsed {{ data.niveau.apcCompetence.couleur }} apc-element"
                                             type="button"
                                             data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ niveauId }}"
                                             aria-expanded="false"
                                             aria-controls="flush-collapse{{ niveauId }}">
                                            <p class="m-0">{{ data.niveau.apcCompetence.nomCourt }}
                                                <br>
                                                <em>{{ data.niveau.libelle }}</em></p>
                                        </div>
                                        <div id="flush-collapse{{ niveauId }}" class="accordion-collapse collapse"
                                             data-bs-parent="#accordionFlush{{ niveauId }}">
                                            <div class="{{ data.niveau.apcCompetence.couleur }}bg apc-element">
                                                <ul>
                                                    {% for ac in data.critiques %}
                                                        <li>{{ ac.code }} | {{ ac.libelle }}</li>
                                                        <hr>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="card-header">
                        <h3>Validation des compétences dans cette page</h3>
                    </div>
                </div>
            </aside>
        </div>
    </section>
{% endblock %}
