<turbo-frame id="trace-form-content">
    <div {{ stimulus_controller('typeCollection') }}>

        <div class="d-flex gap-5 justify-content-center">
            {% for data in trace.contenu %}
                <div class="image_trace_div">
                    <input type="hidden" name="trace_image[{{ loop.index }}]" value="{{ data }}">
                    <div class="trace-img"
                         style="background-image: url('{{ asset(data) }}'); background-position: center; background-size: cover; width: 250px; height: 150px !important;">
                    </div>
                    <button type="button" class="btn btn-danger delete-image"
                            data-action="typeCollection#removeImage">Supprimer
                    </button>
                </div>
            {% endfor %}
        </div>
        {{ form_widget(formType.contenu) }}
        <div data-typeCollection-target="input" class="trace-content-input">
        </div>
        <button type="button" class="btn btn-primary add-image" data-action="typeCollection#addImage">
            Ajouter une image
        </button>
    </div>
</turbo-frame>