<turbo-frame id="trace-form-content">
    <div {{ stimulus_controller('typeCollection') }}>
        <div class="types row p-2">
            {% for typeTrace in typesTrace %}
                <a
                        {% if 'portfolio' in app.request.uri %}
                            href="{{ path('app_portfolio_univ_edit', {'id': portfolio.id, 'page': page.id, 'type': constant('CLASS_NAME', typeTrace), 'step': 'newType'}) }}"
                        {% elseif 'new' in app.request.uri %}
                            href="{{ path('app_trace_new_type', {'type': constant('CLASS_NAME', typeTrace)}) }}"
                        {% elseif 'edit' in app.request.uri %}
                            href="{{ path('app_trace_edit_type', {'type': constant('CLASS_NAME', typeTrace), 'id': trace.id}) }}"
                        {% endif %}
                        data-turbo-action="replace" data-turbo-frame="trace-form-content"
                        class="col-12 col-lg-2 p-3
                {% if selectedTraceType == constant('CLASS_NAME', typeTrace) %}
                   active
                {% endif %}">
                    <twig:ux:icon name="{{ constant('ICON', typeTrace) }}" width="15" height="auto"/>
                    <div>
                        <strong>{{ typeTrace.display }}</strong>
                        <br>
                        <small>{{ constant('CONSTRAINT', typeTrace) }}</small>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% if trace.type == 'lien' %}
            {{ form_widget(formType.contenu) }}
        {% else %}
            {{ form_widget(formType.contenu, { 'attr': {'class': 'visually-hidden'} }) }}
        {% endif %}
            <div data-typeCollection-target="input" class="trace-content-input">
            </div>
        <button type="button" class="btn btn-primary add-video" data-action="typeCollection#addVideo">
            Ajouter une vidéo <i class="fa fa-square-plus"></i>
        </button>
    </div>
</turbo-frame>