<turbo-frame id="trace-form-content">
    <div {{ stimulus_controller('typeCollection') }}>
        <div class="types row p-2">
            {% for typeTrace in typesTrace %}
                <a href="{{ path('app_trace_new_type', {'type': constant('CLASS_NAME', typeTrace)}) }}"
                   data-turbo-action="replace" data-turbo-frame="trace-form-content"
                   class="col-12 col-lg-2 p-3
                {% if selectedTraceType == constant('CLASS_NAME', typeTrace) %}
                   active
                {% endif %}">
                    <i class="{{ constant('ICON', typeTrace) }}">ICON</i>
                    <div>
                        <strong>{{ typeTrace.display }}</strong>
                        <br>
                        <small>{{ constant('CONSTRAINT', typeTrace) }}</small>
                    </div>
                </a>
            {% endfor %}
        </div>

        {% if '/edit' in app.request.uri %}
            {% for data in trace.contenu %}
                <div class="pdf_trace_div">
                    <p>Pdf déjà dans la DB</p>
                    <input type="hidden" name="pdf[{{ loop.index }}]" value="{{ data }}">
                    <iframe src="{{ asset(data) }}" style="width: 50%"></iframe>
                    <button type="button" class="btn btn-danger delete-pdf">
                        <i class="fa-solid fa-square-minus"></i>
                    </button>
                    <hr>
                </div>
            {% endfor %}
        {% endif %}
        {{ form_widget(formType.contenu) }}
        <div data-typeCollection-target="input" class="trace-content-input">
        </div>
        {% if error is defined %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <button type="button" class="btn btn-primary add-pdf" data-action="typeCollection#addPdf">
            Ajouter un PDF
        </button>
    </div>
</turbo-frame>