<turbo-frame id="trace-form-content">
    <div {{ stimulus_controller('typeCollection') }}>

{#        {% if '/edit' in app.request.uri or '/show' in app.request.uri and trace.type == 'pdf' %}#}
            {% for data in trace.contenu %}
                <div class="pdf_trace_div">
                    <p>Pdf déjà dans la DB</p>
                    <input type="hidden" name="trace_pdf[{{ loop.index }}]" value="{{ data }}">
                    <iframe src="{{ asset(data) }}" style="width: 50%"></iframe>
                    <button type="button" class="btn btn-danger delete-pdf">
                        <i class="fa-solid fa-square-minus"></i>
                    </button>
                    <hr>
                </div>
            {% endfor %}
{#        {% endif %}#}
        {{ form_widget(formType.contenu) }}
        <div data-typeCollection-target="input" class="trace-content-input">
        </div>
        {% if error is defined %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <button type="button" class="btn btn-primary add-pdf" data-action="typeCollection#addPdf">
            Ajouter un PDF
        </button>
    </div>
</turbo-frame>