{% for preview in this.preview %}
    <div class="col-lg-6 col-12 d-flex justify-content-between">
        <a class="my_card col-12 h-100 panel_link"
           href="">
            <img src="
                {% if preview.image is not null %}
                {{ preview.image }}"
                 width="100%"
                {% else %}
                {{ asset('images/link.jpg') }}"
                width="auto"
                {% endif %}
                 alt="Preview image"
                 style="border-top-left-radius: 15px; border-top-right-radius: 15px">
            <div class="card-body p-4">
                <h5 class="card-title">
                    {% if preview.title is not null %}
                        {{ preview.title }}
                    {% else %}
                        {{ preview.url }}
                    {% endif %}
                </h5>
                {% if preview.description is not null %}
                    <p class="card-text">{{ preview.description }}...</p>
                {% endif %}
            </div>
        </a>
    </div>
{% endfor %}