<turbo-frame id="type_trace_form">
    <label>Contenu média</label>

    <div class="types d-flex flex-wrap gap-5 justify-content-center">
        {% for type in typesTrace %}
            <a
                    {% if trace.contenu is null or trace.contenu is empty %}
                        {% if 'portfolio' in app.request.uri %}
                            href="{{ path('app_portfolio_univ_edit_trace_type', {'page': page.id, 'type': constant('CLASS_NAME', type)}) }}"
                        {% else %}
                            href="{{ path('app_trace_change_type', {'type': constant('CLASS_NAME', type) }) }}"
                        {% endif %}
                    {% else %}
                        data-bs-toggle="modal" data-bs-target="#typeModal{{ constant('TYPE', type) }}"
                    {% endif %}
                    class="col-12 col-lg-2 p-3 gap-1 {% if selectedTraceType == constant('CLASS_NAME', type) %}active{% endif %}">
                <div class="d-flex flex-column align-items-center">
                    <twig:ux:icon name="{{ constant('ICON', type) }}" width="40" height="40"
                                  length="auto"/>
                    <p class="m-0">{{ type.display }}</p>
                </div>
                <hr>
                <small class="">{{ constant('CONSTRAINT', type) }}</small>
            </a>

            <!-- Modal -->
            <div class="modal fade" id="typeModal{{ constant('TYPE', type) }}" tabindex="-1"
                 aria-labelledby="typeModal{{ constant('TYPE', type) }}Label"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="typeModal{{ constant('TYPE', type) }}Label">
                                Modification du type de trace</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex flex-column align-items-center gap-4">
                            <twig:ux:icon name="bi:exclamation-octagon" width="50" height="auto" color="red"/>
                            <p class="text-danger">Attention, cette action est irréversible !</p>

                            <p class="w-75">
                                Si vous changez le type de trace, les médias existants seront perdus. Êtes-vous
                                sûr de vouloir continuer ?
                            </p>
                        </div>
                        <div class="modal-footer d-flex gap-3">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('app_trace_change_type', {'type': constant('CLASS_NAME', type), 'trace': trace.id }) }}"
                               class="flex-grow-0" style="border: none;">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                                    Confirmer
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-5">
        {% for type in typesTrace %}
            {% if selectedTraceType is not null and selectedTraceType == constant('CLASS_NAME', type) %}
                {% include('trace/form_types/_form_'~constant('TYPE', type)~'.html.twig') %}
            {% endif %}
        {% endfor %}
    </div>

</turbo-frame>