{% extends 'base.html.twig' %}

{% block title %}UniFolio - Home{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}

    <section class="container-custom d-flex justify-content-center align-items-center min-vh-100">
        <article class="home-panel d-flex justify-content-center flex-wrap gap-3">
            <div class="card dashboard m-0 text-center col-lg-5 col-12 d-flex flex-column gap-3 align-items-center">
                <h2>Dashboard</h2>
                <p class="w-75">Le point d’entrée de votre espace. Visualisation et création des portfolios et
                    traces</p>
                <a href="{{ path('app_dashboard_enseignant') }}">
                    <button class="primary-btn">
                        Accéder au dashboard
                    </button>
                </a>
                <div>
                    <img src="{{ asset('images/dashboard.png') }}" alt="illustration de l'accès au dashboard"
                         class="dashboard-illu">
                </div>
            </div>

            <div class="group-card d-flex flex-column gap-3 col-lg-6 col-12">
                <div class="d-flex gap-3">
                    <a href=""
                       class="card w-100 m-0 text-center d-flex flex-column align-items-center gap-3 panel_link">
                        <div>
                            <img src="{{ asset('images/portfolio.png') }}" alt="illustration de l'accès au dashboard">
                        </div>
                        <h2>Bilan pédagogique</h2>
                    </a>
                    <a href="https://intranet.iut-troyes.univ-reims.fr/fr/but/" target="_blank"
                       class="card w-100 m-0 text-center d-flex flex-column align-items-center gap-3 panel_link">
                        <div>
                            <img src="{{ asset('images/trace.png') }}" alt="illustration de l'accès au dashboard">
                        </div>
                        <h2>Référentiel PPN</h2>
                    </a>
                </div>
                <div class="card m-0 d-flex flex-row gap-3 align-items-center">
                    <div>
                        <img src="{{ asset('images/documentation.png') }}" alt="illustration de l'accès au dashboard">
                    </div>
                    <div>
                        <h2>Comment ça marche ?</h2>
                        <p>Explore la documentation</p>
                        <a href="https://portfolio-doc.iut-troyes.univ-reims.fr" target="_blank">
                            <button class="primary-btn">
                                Découvrir
                                <twig:ux:icon name="mingcute:external-link-line" width="10" height="10"/>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}
