{% extends 'base.html.twig' %}

{% block title %}UniFolio - Connexion{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}

    <section class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="bg-banner-top"></div>
        <div class="row justify-content-center">
            <div class="card col-6">
                <article class="p-5">
                    <div class="corner-img">
                        <img src="{{ asset('images/registration.png') }}" alt="illustration d'inscription">
                    </div>
                    <div class="form-alone">
                        <div class="form-header">
                            <h2 class="form-title text-center text-uppercase">Connexion</h2>
                            <p class="form-text">
                                N'oubliez pas, vous devez être inscrit et avoir vérifié votre compte pour pouvoir vous
                                connecter.
                            </p>
                        </div>
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.userIdentifier }}, <a
                                            href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <div class="form-input-group">
                                <label for="username">Login URCA</label>
                                <input type="text" value="{{ last_username }}" name="_username" id="username"
                                       class="form-control" autocomplete="username" required autofocus>
                            </div>
                            <div class="form-input-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" name="_password" id="password" class="form-control"
                                       autocomplete="current-password" required>
                                <a class="form-text" href="">Mot de passe oublié ?</a>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >


                            {#            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
                            {#            See https://symfony.com/doc/current/security/remember_me.html #}

                            <div class="form-input-group">
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                                    </label>
                                </div>
                            </div>

                            <button class="btn btn-primary align-self-center" type="submit">
                                Se connecter
                            </button>
                        </form>
                        <div class="form-footer">
                            <p class="text-center p-0 m-0">
                                <a href="" class=" form-text">Renvoyer le mail de vérification de compte</a>
                            </p>
                            <p class="text-center form-text">Vous n'avez pas encore créé votre compte ? <a
                                        href="{{ path('app_register') }}">Inscription</a></p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="bg-banner-bottom"></div>

    </section>
{% endblock %}
