{% extends 'base.html.twig' %}

{% block title %}UniFolio - Dashboard{% endblock %}

    {% block header %}
    {% endblock %}

{% block main %}
    {% import 'macros/breadcrumbs.twig' as breadcrumb_macros %}
    {{ breadcrumb_macros.breadcrumbs([
        {'name': 'Accueil', 'url': '/'},
        {'name': 'Dashboard', 'url': null}
    ]) }}

    <section class="container-custom dashboard">

        {% set portfolioItems = [] %}
        {% for portfolio in portfolios.currentPageResults %}
            {% if portfolio.annee %}
                {% set type = 'Universitaire' %}
            {% else %}
                {% set type = 'Personnel' %}
            {% endif %}

            {% if portfolio.visibilite == 1 %}
                {% set visibilite = 'Public' %}
            {% else %}
                {% set visibilite = 'Privé' %}
            {% endif %}

            {% set portfolioItems = portfolioItems|merge([{
                'Libellé': portfolio.libelle,
                'Type': type,
                'Visibilité': visibilite,
                'Année': portfolio.annee.libelle,
                'Dernière modification': portfolio.dateModification|date('d/m/Y H:i'),
            }]) %}
        {% endfor %}

        <article class="portfolios">
            <div class="card">
                <h2>Portfolios</h2>
                {% import 'macros/table.twig' as table_macros %}
                {{ table_macros.table(portfolioItems) }}

                <div class="card-footer">
                    <small>{{ portfolios.currentPageResults|length }} portfolio(s) sur {{ portfolios.nbResults }}
                        affiché(s)</small>
                    {% if portfolios.haveToPaginate %}
                        <div class="navigation">
                            {% if portfolios.hasPreviousPage %}
                                <a href="{{ path('app_dashboard_etudiant', {'page': portfolios.previousPage}) }}">
                                    <button class="nav-btn">
                                        <twig:ux:icon name="material-symbols:arrow-left" width="15" height="15"/>
                                    </button>
                                </a>
                            {% endif %}

                            <span>{{ portfolios.currentPage }} / {{ portfolios.nbPages }}</span>

                            {% if portfolios.hasNextPage %}
                                <a href="{{ path('app_dashboard_etudiant', {'page': portfolios.nextPage}) }}">
                                    <button class="nav-btn">
                                        <twig:ux:icon name="material-symbols:arrow-right" width="15" height="15"/>
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </article>
    </section>
{% endblock %}
