<turbo-frame id="portfolio-form">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page"
               href="{{ path('app_portfolio_univ_edit', {'id': portfolio.id , 'step': 'portfolio'}) }}">Portfolio</a>
        </li>

        {% if pages is not null %}
            {% for pageA in pages|sort((a, b) => a.ordre <=> b.ordre) %}
                <li class="nav-item" value="{{ pageA.id }}">
                    <a class="nav-link {% if pageA.id == page.id %}active{% endif %}" aria-current="page"
                       href="{{ path('app_portfolio_univ_edit', {'id': portfolio.id , 'step': 'page', 'page': pageA.id, 'edit': false}) }}">{{ pageA.libelle }}</a>
                </li>
            {% endfor %}
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_portfolio_univ_edit', {'id': portfolio.id , 'step': 'newPage'}) }}">Ajouter
                une page</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Cv</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_biblio_portfolio_univ') }}">Enregistrer et
                quitter</a>
        </li>
    </ul>

    <div class="row">
        <div class="card-header">
            <h2>Edition de {{ trace.libelle }}</h2>
        </div>

        {{ form_start(form, {'action': path('app_portfolio_univ_edit', {'id': portfolio.id, 'step': 'saveEditTrace', 'trace': trace.id, 'page': page.id}), 'attr': {'enctype': 'multipart/form-data'}}) }}

        <div class="visually-hidden">
            {{ form_row(form.date_creation) }}
            {{ form_row(form.date_modification) }}
        </div>

        <div class="row">
            <div class="col-12 p-2">
                {{ form_row(form.libelle) }}
            </div>
            <div class="col-6 p-2">
                {{ form_row(form.contexte) }}
            </div>
            <div class="col-6 p-2">
                {{ form_row(form.dateRealisation) }}
            </div>

            <turbo-frame id="trace-form-content" class="form-control p-4">
                <label>Contenu média</label>
                {% if formType is null %}
                    <div class="types row p-2">
                        {% for type in typesTrace %}
                            <a href="{{ path('app_portfolio_univ_edit', {'id': portfolio.id, 'page': page.id, 'type': constant('CLASS_NAME', type), 'step': 'newType'}) }}"
                               data-turbo-action="replace" data-turbo-frame="trace-form-content"
                               class="col-12 col-lg-2 p-3"
                                    {% if selectedTraceType == constant('CLASS_NAME', type) %}
                                        style="background-color: #f8f9fa;"
                                    {% endif %}
                            >
                                <twig:ux:icon name="{{ constant('ICON', type) }}" width="15" height="auto"
                                              length="auto"/>
                                <div>
                                    <strong>{{ type.display }}</strong>
                                    <br>
                                    <small>{{ constant('CONSTRAINT', type) }}</small>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    {% include('trace/form_types/_form_'~type~'.html.twig') %}
                {% endif %}
            </turbo-frame>

            <div class="col-12 p-2">
                {{ form_row(form.legende) }}
            </div>
            <div class="col-12 p-2">
                {{ form_row(form.description) }}
            </div>
            <div class="col-12 p-2">
                <h5>Compétences relatives à cette trace <span style="color: red">*</span></h5>
                {% block choice_widget_expanded %}
                    <div class="competence-bloc">
                        {% for child in form.competences %}
                            <div class="competence-choice">
                                {{ form_widget(child) }}
                                {{ form_label(child) }}
                            </div>
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary text-uppercase">Enregistrer</button>
        <a href="{{ path('app_portfolio_univ_edit', {'id': portfolio.id , 'step': 'page', 'page': page.id, 'edit': false}) }}">
            <button class="btn btn-secondary text-uppercase">Annuler</button>
        </a>
        {{ form_end(form) }}
    </div>
    <script>
        // Initialisation de flatpickr sur l'élément dateRealisation
        flatpickr("#trace_abstract_dateRealisation", {
            plugins: [monthSelectPlugin({
                shorthand: true, // true for 12/2020, false for December 2020
                dateFormat: "m-Y", // see https://flatpickr.js.org/formatting/
                altFormat: "F Y",
            })],
            locale: "fr",
        });
    </script>
</turbo-frame>

