<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" data-turbo="false"
           href="{{ path('app_portfolio_univ_edit_portfolio', {'id': portfolio.id }) }}">Portfolio</a>
    </li>

    {% if portfolio.pages is not null %}
        {% for pageA in portfolio.pages %}
            <li class="nav-item" value="{{ pageA.id }}">
                <a class="nav-link {% if pageA.id == page.id %}active{% endif %}" aria-current="page" data-turbo="false"
                   href="{{ path('app_portfolio_univ_show_page', {'id': pageA.id}) }}">{{ pageA.libelle }}</a>
            </li>
        {% endfor %}
    {% endif %}

    <li class="nav-item">
        <a class="nav-link" data-turbo="false" href="#">Cv</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-turbo="false" href="{{ path('app_biblio_portfolio_univ') }}">Enregistrer et
            quitter</a>
    </li>
</ul>
{% if 'edit' in app.request.uri %}
    <h2>Edition de {{ trace.libelle }}</h2>
{% else %}
    <h2>Création d'une trace</h2>
{% endif %}

<div class="trace-form">
    {{ form_start(form, {'action': path('app_portfolio_univ_edit_save_trace', {'id': page.id, 'trace': trace.id}),'attr': {'enctype': 'multipart/form-data'}}) }}

    {{ form_errors(form) }}

    <div class="visually-hidden">
        {{ form_row(form.date_creation) }}
        {{ form_row(form.date_modification) }}
    </div>

    <div class="row">
        <div class="col-12 p-2">
            {{ form_row(form.libelle) }}
        </div>
        <div class="col-6 p-2">
            {{ form_row(form.contexte) }}
        </div>
        <div class="col-6 p-2">
            {{ form_row(form.dateRealisation) }}
        </div>

{#        <turbo-frame id="type_trace_form">#}
            {{ include('partials/trace/_type_trace_form.html.twig') }}
{#        </turbo-frame>#}

        <div class="col-12 p-2">
            {{ form_row(form.legende) }}
        </div>
        <div class="col-12 p-2">
            {{ form_row(form.description) }}
        </div>


        <div class="col-12 p-2 hidden">
            <h5>Compétences relatives à cette trace <span style="color: red">*</span></h5>
            {% block choice_widget_expanded %}
                <div class="competence-bloc">
                    {% for child in form.competences %}
                        <div class="competence-choice">
                            {{ form_widget(child) }}
                            {{ form_label(child) }}
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
        </div>



    </div>
    <hr>
    <button type="submit" class="btn btn-primary text-uppercase">Enregistrer</button>
    {% if 'portfolio' in app.request.uri %}
        <a href="{{ path('app_portfolio_univ_show_page', {'id': page.id}) }}">
            <button type="button" class="btn btn-primary text-uppercase">Annuler</button>
        </a>
    {% endif %}
    {{ form_end(form) }}
</div>