<turbo-frame id="portfolio-form">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Portfolio</a>
        </li>

        {% if portfolio.pages is not null %}
            {% for pageA in pages|sort((a, b) => a.ordre <=> b.ordre) %}
                <li class="nav-item" value="{{ pageA.id }}">
                    <a class="nav-link {% if pageA.id == page.id %}active{% endif %}" aria-current="page"
                       href="{{ path('app_portfolio_univ_edit', {'id': portfolio.id , 'step': 'page', 'page': pageA.id, 'edit': false}) }}">{{ pageA.libelle }}</a>
                </li>
            {% endfor %}
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_portfolio_univ_edit', {'id': portfolio.id , 'step': 'newPage'}) }}">Ajouter
                une page</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Cv</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_portfolio_univ') }}">Enregistrer et
                quitter</a>
        </li>
    </ul>

    <div class="row">
        {% if edit == true %}
            {{ form_start(form, {'action': path('app_portfolio_univ_edit', {'id': portfolio.id, 'step': 'page', 'page': page.id})}) }}
            <div class="col-12 p-2">
                {{ form_row(form.libelle) }}
            </div>
            <div class="col-12 p-2">
                {{ form_row(form.description) }}
            </div>
            <button type="submit" class="btn btn-primary-color text-uppercase">Enregistrer les modifications
            </button>
            {{ form_end(form) }}
        {% else %}
            <div class="col-10 p-2">
                <h2>{{ page.libelle }}</h2>
                <em>{{ page.description }}</em>
            </div>
            <div class="col-1 p-2 d-flex align-items-center">
                <a href="{{ path('app_portfolio_univ_edit', {'id': portfolio.id , 'step': 'page', 'page': page.id, 'edit': true}) }}"
                   class="btn btn-primary-color text-uppercase">Modifier</a>
            </div>
        {% endif %}
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="btn_group">
                <button class="btn btn-primary-color text-uppercase m-2" data-bs-toggle="modal"
                        data-bs-target="#staticBackdropAddTraces">
                    Ajouter des traces
                </button>
                <!-- Modal AddTraces -->
                <div class="modal modal-lg fade" id="staticBackdropAddTraces" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Choisissez les traces que vous voulez
                                    ajouter dans votre portfolio</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{{ path('app_portfolio_univ_edit', {'id': portfolio.id , 'step': 'addTrace', 'page': page.id}) }}"
                                      method="post">
                                    <div class="row">
                                        {% for trace in traces|sort((a, b) => a.dateCreation <=> b.dateCreation) %}
                                            <div class="col-lg-4">
                                                <input type="checkbox" class="btn-check" id="trace{{ trace.id }}"
                                                       name="traces[]" value="{{ trace.id }}" autocomplete="off">
                                                <label class="btn btn-light" for="trace{{ trace.id }}">
                                                    <twig:TraceCard id="{{ trace.id }}"/>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary-color" data-bs-dismiss="modal">
                                            Annuler
                                        </button>
                                        <button type="submit" class="btn btn-primary-color" data-bs-dismiss="modal">Valider</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="">
                    <button class="btn btn-primary-color text-uppercase m-2">
                        Créer une trace
                    </button>
                </a>
            </div>
            <div class="row">
                {% for tracePage in tracesPage %}
                    <div class="col-lg-4">
                        <twig:TraceCard id="{{ tracePage.id }}"/>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</turbo-frame>