<turbo-frame id="portfolio-form">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Portfolio</a>
        </li>

        {% if pages is not null %}
            {% for pageA in pages|sort((a, b) => a.ordre <=> b.ordre) %}
                <li class="nav-item" value="{{ pageA.id }}">
                    <a class="nav-link" aria-current="page"
                       href="{{ path('app_portfolio_univ_edit', {'id': portfolio.id , 'step': 'page', 'page': pageA.id, 'edit': false}) }}">{{ pageA.libelle }}</a>
                </li>
            {% endfor %}
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_portfolio_univ_edit', {'id': portfolio.id , 'step': 'newPage'}) }}">Ajouter une page</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Cv</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_biblio_portfolio_univ') }}">Enregistrer et
                quitter</a>
        </li>
    </ul>

    <div class="row">
        {{ form_start(form) }}
        <div class="col-12 p-2">
            {{ form_row(form.libelle) }}
        </div>
        <div class="col-12 p-2">
            <div class="col-12 p-2"
                 style="background-image: url({{ portfolio.banniere }}); width: 100%; height: 200px; background-size: cover; background-position: center">
            </div>
            {{ form_row(form.banniere) }}
        </div>
        <div class="col-12 p-2">
            {{ form_row(form.description) }}
        </div>
        <div class="row p-2">
            <div class="col-lg-12 p-2">
                <div class="m-auto alert alert-warning">
                    <span>Il ne peut y avoir qu'un seul portfolio public par année universitaire. Si vous en créez un nouveau, l'ancien sera automatiquement rendu privé</span>
                </div>
            </div>
            <div class="col-lg-6 col-12 p-2">
                {{ form_row(form.visibilite) }}
            </div>
            <div class="col-lg-6 col-12 p-2">
                {{ form_row(form.optSearch) }}
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary-color text-uppercase">Enregistrer les modifications
        </button>
        {{ form_end(form) }}
    </div>
</turbo-frame>