<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" data-turbo="false"
           href="{{ path('app_portfolio_univ_edit_portfolio', {'id': portfolio.id }) }}">Portfolio</a>
    </li>

    {% if portfolio.pages is not null %}
        {% for pageA in portfolio.pages %}
            <li class="nav-item" value="{{ pageA.id }}">
                <a class="nav-link {% if pageA.id == page.id %}active{% endif %}" aria-current="page" data-turbo="false"
                   href="{{ path('app_portfolio_univ_show_page', {'id': pageA.id}) }}">{{ pageA.libelle }}</a>
            </li>
        {% endfor %}
    {% endif %}

    <li class="nav-item">
        <a class="nav-link" data-turbo="false" href="#">Cv</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-turbo="false" href="{{ path('app_biblio_portfolio_univ') }}">Enregistrer et
            quitter</a>
    </li>
</ul>

<turbo-frame id="trace-zone">
    <twig:TraceContent id="{{ trace.id }}" edit="false" row=""/>

    <a href="{{ path('app_portfolio_univ_show_page', {'id': page.id}) }}">
        <button type="button" class="primary-btn">Retour</button>
    </a>
</turbo-frame>
