<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
        <script src="https://npmcdn.com/flatpickr/dist/plugins/monthSelect/index.js"></script>
        <script src="https://cdn.tiny.cloud/1/{{ tinyMCEApiKey }}/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body id="body">
<header>
    {% block header %}
    {% endblock %}

    {% if app.user == null %}
    {% include('partials/menu/_menu_public.html.twig') %}
    {% elseif app.user.etudiant != null %}
    {% include('partials/menu/_menu_etudiant.html.twig') %}
    {% elseif app.user.enseignant != null %}
    {% include('partials/menu/_menu_enseignant.html.twig') %}
    {% endif %}
</header>
<main class="min-vh-100">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert {% if label is defined %}alert-{{ label }}{% else %}alert-warning{% endif %} alert-dismissible fade show alert-popup"
                 role="alert"
                style="z-index: 10">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    {% block main %}

    {% endblock %}
</main>
<footer>
    {% block footer %}
    {% endblock %}
    {% include('partials/_footer.html.twig') %}
</footer>
</body>
</html>
