<div{{ attributes }}>

    <tr>
        <td>
            {{ this.etudiant.nom }} {{ this.etudiant.prenom }}
        </td>
        <td>
            {% for g in this.etudiant.groupe %}
                {% if 'TP' in g.typeGroupe.libelle %}
                    TP {{ g.libelle }}
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {{ this.etudiant.semestre.libelle }}
        </td>
        <td>
            {{ this.nbTraces }}
        </td>
        <td>
            <span class="{% if this.validationGlobal <= 5 %}pill-danger{% elseif this.validationGlobal <= 10 %}pill-warning{% else %}pill-success{% endif %}">
            {{ this.validationGlobal }}/20
            </span>
        </td>
        <td>
            <a href="">
                <button class="btn-info d-flex justify-content-center align-items-center" data-bs-toggle="tooltip"
                        data-bs-placement="top" data-bs-title="Voir le détail de la validation des compétences">
                    <twig:ux:icon name="bi:eye-fill" width="15" height="15"/>
                </button>
            </a>
    </tr>

</div>
