<div{{ attributes }}>
    <form class="m-5" role="search">
        <label for="search" class="visually-hidden">Rechercher un étudiant</label>
        <input class="form-control me-2" type="search" placeholder="Rechercher un étudiant" aria-label="Search"
               data-model="search">
        <ul id="searchResults" class="list-group">
            {% for etudiant in this.filteredEtudiants %}
                <li class="list-group-item">
                    {{ etudiant.nom }} {{ etudiant.prenom }}
                </li>
            {% endfor %}
        </ul>
    </form>

    <div class="filtres">
        <ul class="nav nav-underline">
            {% for semestre in this.semestres %}
                <li class="nav-item">
                    <button class="nav-link {% if semestre == this.selectedSemestre %}active{% endif %}"
                            aria-current="page" data-model="selectedSemestre">
                        {{ semestre.libelle }}
                    </button>
                </li>
            {% endfor %}
        </ul>
    </div>

    {{ this.selectedSemestre.libelle ?? null }}
    <ul>
        {% for etudiant in this.etudiants %}
            <li>
                {{ etudiant.nom }} {{ etudiant.prenom }}
            </li>
        {% endfor %}
    </ul>
</div>
