<div{{ attributes }}>
    <tr>
        <td>
            <p class="table-primary-text">{{ this.portfolio.libelle }}</p>
        </td>
{#        <td>#}
{#            <div class="d-flex flex-wrap gap-1">#}
{#                {% for competence in this.competences %}#}
{#                    <div class="pill-competence {{ competence.apcCompetence.couleur ?? competence.apcNiveau.apcCompetence.couleur }}">#}
{#                        {{ competence.apcCompetence.nomCourt ?? competence.libelle }}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </td>#}
        <td>
            {{ this.portfolio.etudiant.nom }} {{ this.portfolio.etudiant.prenom }}
        </td>
        <td>
            {{ this.portfolio.etudiant.semestre.libelle }}
        </td>
        <td>
            {% for g in this.portfolio.etudiant.groupe %}
                {% if 'TP' in g.typeGroupe.libelle %}
                    TP {{ g.libelle }}
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {{ this.portfolio.datemodification is empty ? this.portfolio.datecreation|date('d-m-Y H:i') : this.portfolio.datemodification|date('d-m-Y') }}
        </td>
        <td>
            <a href="{{ path('app_portfolio_univ_eval_show', {'id': this.portfolio.id}) }}">
                <button class="btn-info d-flex justify-content-center align-items-center">
                    <twig:ux:icon name="bi:eye-fill" width="15" height="15"/>
                </button>
            </a>

        </td>
    </tr>
</div>
