<div{{ attributes }}>
    <tr>
        <td>
            <input type="checkbox" class="form-check-input"
                   data-model="selectedPortfoliosUniv[]"
                   value="{{ this.portfolioUniv.id }}"/>
        </td>
        <td>
            <p class="table-primary-text">{{ this.portfolioUniv.libelle }}</p>
        </td>
        <td>
            {% if this.portfolioUniv.annee is not null %}
                {{ this.portfolioUniv.anneeUniv.libelle }} | {{ this.portfolioUniv.annee.libelle }}
            {% else %}
                **
            {% endif %}
        </td>
        <td>
            {{ this.portfolioUniv.dateModification|date('d/m/Y') }}
        </td>
        <td class="d-flex flex-column gap-1">
            {% for competence in this.competences %}
                <div class="pill-competence d-flex gap-1 align-items-center {{ competence.apcCompetence.couleur }}">
                    {{ competence.apcCompetence.nomCourt }}
                </div>
            {% endfor %}

        </td>
        <td>
            <div class="d-flex gap-2">
                <a href="{{ path('app_portfolio_univ_show', {'id': this.portfolioUniv.id}) }}">
                    <button class="btn-info d-flex justify-content-center align-items-center">
                        <twig:ux:icon name="bi:eye-fill" width="15" height="15"/>
                    </button>
                </a>
                <a href="{{ path('app_portfolio_univ_edit_portfolio', {'id': this.portfolioUniv.id}) }}">
                    <button class="btn-warning d-flex justify-content-center align-items-center">
                        <twig:ux:icon name="bi:pencil-square" width="15" height="15"/>
                    </button>
                </a>
                <button class="btn-danger d-flex justify-content-center align-items-center" data-bs-toggle="modal"
                        data-bs-target="#delete{{ this.portfolioUniv.id }}Modal">
                    <twig:ux:icon name="bi:x-square-fill" width="15" height="15"/>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="delete{{ this.portfolioUniv.id }}Modal" tabindex="-1"
                 aria-labelledby="delete{{ this.portfolioUniv.id }}ModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="delete{{ this.portfolioUniv.id }}ModalLabel">Réinitialiser un
                                portfolio</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex flex-column align-items-center gap-4">
                            <twig:ux:icon name="bi:exclamation-octagon" width="50" height="auto" color="red"/>
                            <p class="text-danger">Attention, cette action est irréversible !</p>

                            <p>
                                La portfolio "{{ this.portfolioUniv.libelle }}" va être Réinitialiser. Êtes-vous sûr de vouloir
                                continuer ?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('app_portfolio_univ_reset', {'id': this.portfolioUniv.id}) }}">
                                <button type="button" class="btn btn-primary">Confirmer</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</div>
