<div{{ attributes }}>
    <div class="my_card">
        <div class="card-header">
            <h3 class="card-title">{{ this.portfolio.libelle }}</h3>
        </div>
        <div class="card-body">
            <div class="card-infos-min border-bottom">
                <div>
                    <small>
                        {% if this.portfolio.annee %}
                            Portfolio universitaire
                        {% else %}
                            Portfolio personnel
                        {% endif %}
                    </small>
                </div>
                <small>Publié le : {{ this.portfolio.dateCreation|date('d-m-Y') }}</small>
            </div>
            <div class="card-content">
                <p class="m-0">{{ this.portfolio.description|slice(0, 50) }}
                    {% if this.portfolio.description|length > 50 %}
                        ...
                    {% endif %}
                </p>
            </div>
            <div class="d-flex justify-content-center m-3">
                <a href="{{ path('app_portfolio_univ_show', {'id': this.portfolio.id}) }}" class="btn btn-primary text-uppercase">Voir</a>
            </div>
        </div>
    </div>
</div>
