<div{{ attributes }}>

    {% set totalValidations = this.trace.validations|length %}
    {% set validated = 0 %}

    {% for validation in this.trace.validations %}
        {% if validation.etat == 3 %}
            {% set validated = validated + 1 %}
        {% endif %}
    {% endfor %}

    {% set percentage = 0 %}
    {% if totalValidations != 0 %}
        {% set percentage = (validated/totalValidations)*100 %}
    {% endif %}

    <div class="my_card">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">{{ this.trace.libelle }}</h5>
            <input type="checkbox" class="form-check-input"
                   data-model="selectedTraces[]"
                   value="{{ this.trace.id }}"/>
        </div>
        <div class="card-body">
            <div class="card-infos-min border-bottom">
                <div class="d-flex flex-column w-100">
                    <div class="d-flex justify-content-between">
                        <small>Publiée le : {{ this.trace.dateCreation|date("d-m-Y") }}</small>
                        <small>
                            {% if this.trace.type is null %}
                                Type non défini
                            {% else %}
                                {{ this.trace.contenu|length }}
                                {{ this.trace.type|lower }}{% if this.trace.contenu|length > 1 %}s{% endif %}
                            {% endif %}
                        </small>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div>
                            <small type="button" class="btn text-danger d-flex align-items-center gap-2 dropdown-toggle"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                <twig:ux:icon name="bi:exclamation-triangle-fill" width="15px" height="auto"/>
                                Trace incomplète
                            </small>
                            <ul class="dropdown-menu p-3">
                                {% if this.trace.validations is empty %}
                                    <li class="text-danger d-flex align-items-center gap-2">
                                        <twig:ux:icon name="bi:exclamation-octagon" width="15px" height="auto"/>
                                        Aucune compétence liée
                                    </li>
                                    <hr>
                                {% endif %}
                                {% if this.trace.contenu is empty or this.trace.contenu is null %}
                                    <li class="text-danger d-flex align-items-center gap-2">
                                        <twig:ux:icon name="bi:exclamation-octagon" width="15px" height="auto"/>
                                        Aucun média d'illustration
                                    </li>
                                    <hr>
                                {% endif %}
                                {% if this.trace.description is empty or this.trace.description is null %}
                                    <li class="text-danger d-flex align-items-center gap-2">
                                        <twig:ux:icon name="bi:exclamation-octagon" width="15px" height="auto"/>
                                        Aucun argumentaire
                                    </li>
                                    <hr>
                                {% endif %}
                                {% if this.trace.contexte is empty or this.trace.contexte is null %}
                                    <li class="text-danger d-flex align-items-center gap-2">
                                        <twig:ux:icon name="bi:exclamation-octagon" width="15px" height="auto"/>
                                        Pas de contexte renseigné
                                    </li>
                                    <hr>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-competences">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <div class="accordion-header" id="flush-heading{{ this.trace.id }}">
                            <button class="accordion-button collapsed align-items-center flex-column" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapse{{ this.trace.id }}" aria-expanded="false"
                                    aria-controls="flush-collapse{{ this.trace.id }}">
                                <div class="col-11">
                                    <h6>Validation des compétences</h6>
                                    <div class="progress">
                                        {% if percentage == 0 %}
                                            <div class="progress-bar" role="progressbar"
                                                 style="width: 100%; background: #6F18AD26"
                                                 aria-valuenow="0" aria-valuemin="0"
                                                 aria-valuemax="100">
                                                0%
                                            </div>
                                        {% endif %}
                                        <div class="progress-bar" role="progressbar"
                                             style="width: {{ percentage|round }}%"
                                             aria-valuenow="{{ percentage|round }}" aria-valuemin="0"
                                             aria-valuemax="100">
                                            {{ percentage|round }}%
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div id="flush-collapse{{ this.trace.id }}" class="accordion-collapse collapse"
                             aria-labelledby="flush-heading{{ this.trace.id }}"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="padding: 0">
                                {% for validation in this.trace.validations %}
                                    <div class="card-competences d-flex justify-content-between align-items-center">
                                        {% if validation.apcNiveau and validation.apcNiveau.actif == true %}
                                            <small><span
                                                        class="ue {{ validation.apcNiveau.apcCompetence.couleur }}txt">{{ validation.apcNiveau.apcCompetence.nomCourt }} •</span> {{ validation.apcNiveau.libelle }}
                                            </small><br>
                                        {% else %}
                                            <small><span
                                                        class="ue {{ validation.apcNiveau.apcCompetence.couleur }}txt">{{ validation.apcNiveau.apcCompetence.nomCourt }} •</span> {{ validation.apcNiveau.libelle }}
                                            </small>
                                        {% endif %}
                                        <span>
                                        {% if validation.etat == 0 %} 0
                                        {% elseif validation.etat == 1 %} 1
                                        {% elseif validation.etat == 2 %} 2
                                        {% elseif validation.etat == 3 %} 3
                                        {% endif %}
                                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-evenly m-3 btn_group">
                <a href="{{ path('app_trace_show', {'id': this.trace.id}) }}">
                    <button class="btn btn-primary text-uppercase">Voir</button>
                </a>
                <a href="{{ path('app_trace_edit', {'id': this.trace.id}) }}">
                    <button class="btn btn-secondary text-uppercase">Modifier</button>
                </a>
                <a href="{{ path('app_trace_delete', {'id': this.trace.id}) }}">
                    <button class="btn btn-secondary text-uppercase">Supprimer</button>
                </a>
            </div>
        </div>
    </div>
</div>
