<div{{ attributes }}>
    {% set totalValidations = this.trace.validations|length %}
    {% set validated = 0 %}

    {% for validation in this.trace.validations %}
        {% if validation.etat == 3 %}
            {% set validated = validated + 1 %}
        {% endif %}
    {% endfor %}

    {% set percentage = 0 %}
    {% if totalValidations != 0 %}
        {% set percentage = (validated/totalValidations)*100 %}
    {% endif %}

    <tr>
        <td>
            <input type="checkbox" class="form-check-input"
                   data-model="selectedTraces[]"
                   value="{{ this.trace.id }}"/>
        </td>
        <td>
            <div class="d-flex flex-column gap-1">
                <div class="pill">
                    {% if this.type is null %}
                        Type non défini
                    {% else %}
                        {{ this.trace.contenu|length }}
                        {{ this.type }}{% if this.trace.contenu|length > 1 %}s{% endif %}
                    {% endif %}
                </div>
                <p class="table-primary-text">{{ this.trace.libelle }}</p>
            </div>
        </td>
        <td>
            {{ this.trace.dateModification|date('d/m/Y') }}
        </td>
        <td>
            {% if this.trace.validations is empty %}
            <div class="pill-danger d-flex align-items-center gap-1">
                <twig:ux:icon name="bi:exclamation-octagon" width="15" height="15"/>
                Aucune compétence liée
            </div>
            {% else %}
            {% for validation in this.trace.validations %}
            {% if validation.apcNiveau and validation.apcNiveau.actif == true %}
            <div class="pill-competence d-flex gap-1 align-items-center {{ validation.apcNiveau.apcCompetence.couleur }}">
                {{ validation.apcNiveau.apcCompetence.nomCourt }}
                {% else %}
                <div class="pill-competence d-flex gap-1 align-items-center {{ validation.apcNiveau.apcCompetence.couleur }}">
                    {{ validation.apcApprentissageCritique.apcCompetence.nomCourt }}
                    {% endif %}
                    {% if validation.etat == 0 %}
                        <twig:ux:icon name="bi:hourglass-split" width="15" height="15"/>
                    {% elseif validation.etat == 1 %}
                        <twig:ux:icon name="bi:x-octagon-fill" width="15" height="15"/>
                    {% elseif validation.etat == 2 %}
                        <twig:ux:icon name="bi:arrow-up-right-circle-fill" width="15" height="15"/>
                    {% elseif validation.etat == 3 %}
                        <twig:ux:icon name="bi:check-circle-fill" width="15" height="15"/>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </td>
        <td>
            <div class="circle-progress">
                <svg viewBox="0 0 36 36" class="circular-chart">
                    <path class="circle-bg"
                          d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path class="circle"
                          stroke-dasharray="{{ percentage == 100 ? '99.9, 100' : percentage ~ ', 100' }}"
                          d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">{{ percentage|round }}%</text>
                </svg>
            </div>
        </td>
        <td>
            {% if this.trace.validations is empty or this.trace.contenu is empty or this.trace.contenu is null or this.trace.description is empty or this.trace.description is null or this.trace.contexte is empty or this.trace.contexte is null %}
                <div class="pill-danger d-flex align-items-center gap-1 dropdown-toggle" data-bs-toggle="dropdown"
                     aria-expanded="false" style="cursor: pointer">
                    <twig:ux:icon name="bi:exclamation-triangle-fill" width="15px" height="auto"/>
                    Trace incomplète
                    <ul class="dropdown-menu p-3">
                        {% if this.trace.validations is empty %}
                            <li class="text-danger mb-2 mt-2">
                                Aucune compétence liée
                            </li>

                        {% endif %}
                        {% if this.trace.contenu is empty or this.trace.contenu is null %}
                            <li class="text-danger mb-2 mt-2">
                                Aucun média d'illustration
                            </li>

                        {% endif %}
                        {% if this.trace.description is empty or this.trace.description is null %}
                            <li class="text-danger mb-2 mt-2">
                                Aucun argumentaire
                            </li>

                        {% endif %}
                        {% if this.trace.contexte is empty or this.trace.contexte is null %}
                            <li class="text-danger mb-2 mt-2">
                                Pas de contexte renseigné
                            </li>

                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <div class="pill-success d-flex align-items-center gap-1">
                    Trace complète
                    <twig:ux:icon name="bi:check-circle-fill" width="15" height="15"/>
                </div>
            {% endif %}
        </td>
        <td>
            <div class="d-flex gap-2">
                <a href="{{ path('app_trace_show', {'id': this.trace.id}) }}">
                <button class="btn-info d-flex justify-content-center align-items-center">
                    <twig:ux:icon name="bi:eye-fill" width="15" height="15"/>
                </button>
                </a>
                <a href="{{ path('app_trace_edit', {'id': this.trace.id}) }}">
                <button class="btn-warning d-flex justify-content-center align-items-center">
                    <twig:ux:icon name="bi:pencil-square" width="15" height="15"/>
                </button>
                </a>
                <button class="btn-danger d-flex justify-content-center align-items-center" data-bs-toggle="modal"
                        data-bs-target="#delete{{ this.trace.id }}Modal">
                    <twig:ux:icon name="bi:x-square-fill" width="15" height="15"/>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="delete{{ this.trace.id }}Modal" tabindex="-1"
                 aria-labelledby="delete{{ this.trace.id }}ModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="delete{{ this.trace.id }}ModalLabel">Supprimer une
                                trace</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex flex-column align-items-center gap-4">
                            <twig:ux:icon name="bi:exclamation-octagon" width="50" height="auto" color="red"/>
                            <p class="text-danger">Attention, cette action est irréversible !</p>

                            <p>
                                La trace "{{ this.trace.libelle }}" va être supprimée. Êtes-vous sûr de vouloir
                                continuer ?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('app_trace_delete', {'id': this.trace.id}) }}">
                                <button type="button" class="btn btn-primary">Confirmer</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</div>
