<div{{ attributes }}>
    <tr>
        <td>
            <input type="checkbox" class="form-check-input" id="trace{{ this.trace.id }}"
                   name="traces[]" value="{{ this.trace.id }}" autocomplete="off">
        </td>
        <td>
            <p class="table-primary-text">{{ this.trace.libelle }}</p>
        </td>
        <td>
            {{ this.trace.dateModification|date('d/m/Y') }}
        </td>
        <td class="d-flex flex-column gap-1">
            {% if this.trace.traceCompetences is empty %}
            <div class="pill-danger d-flex align-items-center gap-1">
                <twig:ux:icon name="bi:exclamation-octagon" width="15" height="15"/>
                Aucune compétence liée
            </div>
            {% else %}
            {% for traceCompetences in this.trace.traceCompetences %}
            {% if traceCompetences.apcNiveau and traceCompetences.apcNiveau.actif == true %}
            <div class="pill-competence d-flex gap-1 align-items-center {{ traceCompetences.apcNiveau.apcCompetence.couleur }}">
                {{ traceCompetences.apcNiveau.apcCompetence.nomCourt }}
                {% else %}
                <div class="pill-competence d-flex gap-1 align-items-center {{ traceCompetences.apcNiveau.apcCompetence.couleur }}">
                    {{ traceCompetences.apcApprentissageCritique.apcCompetence.nomCourt }}
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </td>
        <td>
            {% if this.trace.traceCompetences is empty or this.trace.contenu is empty or this.trace.contenu is null or this.trace.description is empty or this.trace.description is null or this.trace.contexte is empty or this.trace.contexte is null %}
                <div class="pill-danger d-flex align-items-center gap-1 dropdown-toggle" data-bs-toggle="dropdown"
                     aria-expanded="false" style="cursor: pointer">
                    <twig:ux:icon name="bi:exclamation-triangle-fill" width="15px" height="auto"/>
                    Trace incomplète
                    <ul class="dropdown-menu p-3">
                        {% if this.trace.traceCompetences is empty %}
                            <li class="text-danger mb-2 mt-2">
                                Aucune compétence liée
                            </li>

                        {% endif %}
                        {% if this.trace.contenu is empty or this.trace.contenu is null %}
                            <li class="text-danger mb-2 mt-2">
                                Aucun média d'illustration
                            </li>

                        {% endif %}
                        {% if this.trace.description is empty or this.trace.description is null %}
                            <li class="text-danger mb-2 mt-2">
                                Aucun argumentaire
                            </li>

                        {% endif %}
                        {% if this.trace.contexte is empty or this.trace.contexte is null %}
                            <li class="text-danger mb-2 mt-2">
                                Pas de contexte renseigné
                            </li>

                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <div class="pill-success d-flex align-items-center gap-1">
                    Trace complète
                    <twig:ux:icon name="bi:check-circle-fill" width="15" height="15"/>
                </div>
            {% endif %}
        </td>
        <td>
            <div class="d-flex gap-2">
                <a href="">
                    <button class="btn-info d-flex justify-content-center align-items-center" data-bs-dismiss="modal">
                        <twig:ux:icon name="bi:eye-fill" width="15" height="15"/>
                    </button>
                </a>
            </div>

        </td>
    </tr>
</div>
