<div{{ attributes }}>
    <h2 class="mb-2">{{ this.trace.libelle }}</h2>

    <div class="card-infos-min border-bottom d-flex flex-column gap-2">
        <p class="m-0">Publiée le : {{ this.trace.dateCreation|date("d/m/Y") }}
            {% if this.trace.type is null %}
            &nbsp;|&nbsp;
        <p class="text-danger m-0">Aucun média associé à cette trace</p>
        {% else %}
            &nbsp;|&nbsp;
            {{ this.trace.contenu|length }}
            {{ this.traceType|lower }}{% if this.trace.contenu|length > 1 %}s{% endif %}
        {% endif %}
        </p>
        <div class="d-flex flex-row gap-4 align-items-center mb-4">
            <p class="text-muted m-0">
                Date de réalisation : {{ this.trace.dateRealisation|date("m/Y") }}
            </p>
            <div class="pill">
                {{ this.trace.contexte }}
            </div>
            {% if this.trace.traceCompetences is empty %}
                <div class="pill-danger d-flex align-items-center gap-1">
                    <twig:ux:icon name="bi:exclamation-octagon" width="15" height="15"/>
                    Aucune compétence liée
                </div>
            {% else %}
                {% for traceCompetences in this.trace.traceCompetences %}
                    {% if traceCompetences.apcNiveau and traceCompetences.apcNiveau.actif == true %}
                        <div class="pill-competence {{ traceCompetences.apcNiveau.apcCompetence.couleur }}">
                            {{ traceCompetences.apcNiveau.apcCompetence.nomCourt }}
                        </div>
                    {% else %}
                        <div class="pill-competence {{ traceCompetences.apcApprentissageCritique.apcNiveau.apcCompetence.couleur }}">
                            {{ traceCompetences.apcApprentissageCritique.apcNiveau.apcCompetence.nomCourt }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        {% if this.trace.contenu is not null and this.trace.contenu is not empty %}
            <div class="row d-flex justify-content-center mb-5 mt-5">
                {% include('/partials/trace/_' ~ constant('TYPE', this.typeTrace(this.type)) ~ '_content.html.twig') %}
                <p class="text-muted m-0 mt-2">
                    {{ this.trace.legende }}
                </p>
            </div>

        {% else %}
            <div class="alert alert-warning text-center" role="alert">
                Aucun média associé à cette trace
            </div>
        {% endif %}

        <hr>

        <div class="row justify-content-center">
            <div class="col-lg-11 col-12 mt-4 mb-4">
                {% if this.trace.description is not null and this.trace.description is not empty %}
                    {{ this.trace.description|raw }}
                {% else %}
                    <p class="text-danger">Aucun argumentaire pour cette trace</p>
                {% endif %}
            </div>
        </div>

        <hr>


        <div class="row justify-content-center">

            <div class="mt-4 mb-4">
                <h4>Commentaires</h4>
                {% set visibleComments = this.trace.commentaires|filter(commentaire => commentaire.visibilite == 1) %}
                {% if visibleComments is empty %}
                    <p>Aucun commentaire pour le moment</p>
                {% else %}
                    {% for commentaire in this.trace.commentaires %}
                        {% if commentaire.visibilite == 1 %}
                            <div class="card"
                                 style="margin-bottom: 10px; box-shadow: none; border: 1px solid lightgrey">
                                <div class="card-header">
                                    <div style="display: flex; justify-content: space-between; align-items: center">
                                        <h6 class="card-subtitle">{{ commentaire.enseignant.prenom }} {{ commentaire.enseignant.nom }}</h6>
                                        <small>
                                            {{ commentaire.datecreation|date('d-m-Y H:i') }}
                                        </small>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ commentaire.contenu }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>