<div{{ attributes }}>
    {% set totalValidations = this.trace.validations|length %}
    {% set validated = 0 %}

    {% for validation in this.trace.validations %}
        {% if validation.etat == 3 %}
            {% set validated = validated + 1 %}
        {% endif %}
    {% endfor %}

    {% set percentage = 0 %}
    {% if totalValidations != 0 %}
        {% set percentage = (validated/totalValidations)*100 %}
    {% endif %}

    <tr>
        <td>
            <input type="checkbox" class="form-check-input"
                   data-model="selectedTraces[]"
                   value="{{ this.trace.id }}"/>
        </td>
        <td class="d-flex flex-column gap-1">
            <div class="pill">
                {% if this.type is null %}
                    Type non défini
                {% else %}
                    {{ this.trace.contenu|length }}
                    {{ this.type }}{% if this.trace.contenu|length > 1 %}s{% endif %}
                {% endif %}
            </div>
            <p class="table-primary-text">{{ this.trace.libelle }}</p>
        </td>
        <td>
            {{ this.trace.dateModification|date('d/m/Y') }}
        </td>
        <td>
            {% if this.trace.validations is empty %}
            <div class="pill-danger d-flex align-items-center gap-1">
                <twig:ux:icon name="bi:exclamation-octagon" width="15" height="15"/>
                Aucune compétence liée
            </div>
            {% else %}
            {% for validation in this.trace.validations %}
            {% if validation.apcNiveau and validation.apcNiveau.actif == true %}
            <div class="pill-competence d-flex gap-1 align-items-center {{ validation.apcNiveau.apcCompetence.couleur }}">
                {{ validation.apcNiveau.apcCompetence.nomCourt }}
                {% else %}
                <div class="pill-competence d-flex gap-1 align-items-center {{ validation.apcNiveau.apcCompetence.couleur }}">
                    {{ validation.apcApprentissageCritique.apcCompetence.nomCourt }}
                    {% endif %}
                    {% if validation.etat == 0 %}
                        <twig:ux:icon name="bi:hourglass-split" width="15" height="15"/>
                    {% elseif validation.etat == 1 %}
                        <twig:ux:icon name="bi:x-octagon-fill" width="15" height="15"/>
                    {% elseif validation.etat == 2 %}
                        <twig:ux:icon name="bi:arrow-up-right-circle-fill" width="15" height="15"/>
                    {% elseif validation.etat == 3 %}
                        <twig:ux:icon name="bi:check-circle-fill" width="15" height="15"/>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </td>
        <td>
            <div class="circle-progress">
                <svg viewBox="0 0 36 36" class="circular-chart">
                    <path class="circle-bg"
                          d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path class="circle"
                          stroke-dasharray="{{ percentage == 100 ? '99.9, 100' : percentage ~ ', 100' }}"
                          d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">{{ percentage|round }}%</text>
                </svg>
            </div>
        </td>
        <td>

        </td>
    </tr>
</div>
