<div{{ attributes }}>

    <turbo-frame id="trace-content">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex gap-3 align-items-center">
        {% if this.edit == false %}
                <h2>{{ this.trace.libelle }}</h2>
                <a href="{{ path('app_trace_show_edit', {'id': this.trace.id, 'row': 'libelle', 'edit': true}) }}">
                    <twig:ux:icon name="bi:pencil-square" width="20px" height="auto"/>
                </a>
            {% else %}
                <form method="post" class="d-flex gap-3">
                    <input type="text" name="libelle" class="form-control" value="{{ this.trace.libelle }}">
                    <button class="btn btn-success" type="submit"><twig:ux:icon name="bi:check" width="20px" height="auto" /></button>
                    <a href="{{ path('app_trace_show_edit', {'id': this.trace.id, 'row': 'libelle', 'edit': false}) }}" class="btn btn-danger" type="submit"><twig:ux:icon name="bi:x" width="20px" height="auto" /></a>
                </form>
            {% endif %}
            </div>
        </div>
        <div class="card-infos-min border-bottom">
            <small>Publiée le : {{ this.trace.dateCreation|date("d-m-Y") }}</small>
            {% if this.trace.type is null %}
                &nbsp;|&nbsp;
                <small class="text-danger">Aucun média associé à cette trace</small>
            {% else %}
                &nbsp;|&nbsp;
                <small>{{ this.trace.contenu|length }}
                    {{ this.trace.type|lower }}{% if this.trace.contenu|length > 1 %}s{% endif %}
                </small>
            {% endif %}
        </div>
        <div class="card-body">
            {% if this.trace.type is not null and this.trace.type is not empty %}

                {% if this.trace.contenu is not null and this.trace.contenu is not empty %}
                    <div class="row d-flex justify-content-center">
                        {% if this.trace.type == 'lien' %}
                            {% include('/partials/trace/_lien_content.html.twig') %}
                        {% elseif this.trace.type == 'image' %}
                            {% include('/partials/trace/_image_content.html.twig') %}
                        {% elseif this.trace.type == 'video' %}
                            {% include('/partials/trace/_video_content.html.twig') %}
                        {% elseif this.trace.type == 'pdf' %}
                            {% include('/partials/trace/_pdf_content.html.twig') %}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="row d-flex justify-content-center">
                        <p class="text-center text-danger">Cette trace ne contient pas de média d'illustration.</p>
                    </div>
                {% endif %}
            {% else %}
                <div class="row d-flex justify-content-center">
                    <p class="text-center text-danger">Cette trace n'a pas de type, elle ne contient donc aucun média
                        d'illustration.</p>
                </div>
            {% endif %}
            <div class="row" style="margin: 50px 0">
                <div class="border-end" style="width: 150px; margin-top: 15px">
                    {% if this.trace.validations is not empty %}
                        {% for validation in this.trace.validations %}
                            {% if validation.apcNiveau and validation.apcNiveau.actif == true %}
                                <small><span
                                            class="ue {{ validation.apcNiveau.apcCompetence.couleur }} p-2">{{ validation.apcNiveau.apcCompetence.nomCourt }}</span>
                                </small><br>
                            {% else %}
                                <small><span
                                            class="ue {{ validation.apcApprentissageCritique.apcNiveau.apcCompetence.couleur }}txt">{{ validation.apcApprentissageCritique.apcNiveau.apcCompetence.nomCourt }} </span>
                                </small>
                            {% endif %}
                            <br>
                        {% endfor %}
                    {% else %}
                        <small class="text-danger">Aucune compétence associée</small>
                    {% endif %}
                </div>
                <div class="col-lg-7 col-12">
                    {% if this.trace.description is not null and this.trace.description is not empty %}
                        {{ this.trace.description|raw }}
                    {% else %}
                        <p class="text-danger">Aucun argumentaire pour cette trace</p>
                    {% endif %}
                </div>
                <div class="col-lg-3 col-12 d-flex flex-column align-items-end">
                    <div class="d-flex flex-column" style="max-width: 70%">
                        {% if this.trace.legende is not null and this.trace.legende is not empty %}
                            <span class="text-muted mt-1">
                        {{ this.trace.legende }}
                    </span>
                        {% else %}
                            <span class="text-danger mt-1">
                        Légende non renseignée
                        </span>
                        {% endif %}
                        <span class="text-muted mt-1">
                        Date de réalisation :
                        {% if this.trace.dateRealisation is not null and this.trace.dateRealisation is not empty %}
                            {{ this.trace.dateRealisation|date("m/Y") }}
                        {% else %}
                            <span class="text-danger">
                        Non renseignée
                            </span>
                        {% endif %}
                    </span>
                        <span class="text-muted mt-1">
                        Contexte :
                        {% if this.trace.contexte is not null and this.trace.contexte is not empty %}
                            {{ this.trace.contexte }}
                        {% else %}
                            <span class="text-danger">
                        Non renseignée
                            </span>
                        {% endif %}
                    </span>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row justify-content-center">
                <div class="col-10 m-2">
                    <h5 class="text-start">Validation des compétences</h5>
                    {% for validation in this.trace.validations %}
                        {% if validation.apcNiveau and validation.apcNiveau.actif == true %}
                            <div class="d-flex justify-content-between {{ validation.apcNiveau.apcCompetence.couleur }}bg p-3">
                            <small><span
                                        class="ue {{ validation.apcNiveau.apcCompetence.couleur }}txt">{{ validation.apcNiveau.apcCompetence.nomCourt }} •</span> {{ validation.apcNiveau.libelle }}
                            </small><br>
                        {% else %}
                            <small><span
                                        class="ue {{ validation.apcApprentissageCritique.apcNiveau.apcCompetence.couleur }}txt">{{ validation.apcApprentissageCritique.apcNiveau.apcCompetence.nomCourt }} •</span> {{ validation.apcApprentissageCritique.libelle }}
                            </small>
                        {% endif %}

                        </div>
                        {% if validation.etat == 0 %}
                            <p class="text-end">En attente de validation</p>
                        {% else %}
                            <p class="text-end">Evaluation saisie
                                par {{ validation.enseignant.prenom }} {{ validation.enseignant.nom }}
                                le {{ validation.dateModification|date('d-m-Y') }}</p>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-10 m-2">
                    <h5>Commentaires</h5>
                    {% set visibleComments = this.trace.commentaires|filter(commentaire => commentaire.visibilite == 1) %}
                    {% if visibleComments is empty %}
                        <p>Aucun commentaire pour le moment</p>
                    {% else %}
                        {% for commentaire in this.trace.commentaires %}
                            {% if commentaire.visibilite == 1 %}
                                <div class="card"
                                     style="margin-bottom: 10px; box-shadow: none; border: 1px solid lightgrey">
                                    <div class="card-header">
                                        <div style="display: flex; justify-content: space-between; align-items: center">
                                            <h6 class="card-subtitle">{{ commentaire.enseignant.prenom }} {{ commentaire.enseignant.nom }}</h6>
                                            <small>
                                                {{ commentaire.datecreation|date('d-m-Y H:i') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{ commentaire.contenu }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

    </turbo-frame>

</div>