<div{{ attributes }}>
    <div class="row g-3 d-flex flex-row align-items-center flex-wrap">

        <div class="col-lg-3 col-12">
            {% if this.type is not null %}
            {% include('/partials/trace/_'~this.type~'_preview.html.twig') %}
            {% endif %}
        </div>

        <div class="col-lg-9 col-12 d-flex flex-column align-items-start justify-content-start">
            <h5>{{ this.trace.libelle }}</h5>
            <small class="text-muted">Publiée le : {{ this.trace.dateCreation|date('d-m-Y') }}
                -
                {{ this.trace.contenu|length }}
                {{ this.type }}{% if this.trace.contenu|length > 1 %}s{% endif %}</small>
            {% for traceCompetence in this.trace.traceCompetences %}
                {% if traceCompetence.apcNiveau and traceCompetence.apcNiveau.actif == true %}
                    <small class="{{ traceCompetence.apcNiveau.apcCompetence.couleur }}txt ue mb-2">{{ traceCompetence.apcNiveau.apcCompetence.nomCourt }}
                        • {{ traceCompetence.apcNiveau.libelle }}
                    </small>
                {% else %}
                    <small class="{{ traceCompetence.apcNiveau.apcCompetence.couleur }}txt ue mb-2">{{ traceCompetence.apcApprentissageCritique.code }}
                        | {{ traceCompetence.apcApprentissageCritique.libelle }}
                    </small>
                {% endif %}
            {% endfor %}
            <p>{{ this.trace.description|striptags|slice(0, 300)|raw }}...</p>
        </div>
    </div>
</div>
